.grid {
    &-xs {
        padding: 0 -1px;
        > div {
            margin: 0 1px;
        }
    }
    &-sm {
        padding: 0 -5px;
        > div {
            margin: 0 5px;
        }
    }
    &-md {
        padding: 0 -10px;
        > div {
            margin: 0 10px;
        }
    }
    &-lg {
        padding: 0 -15px;
        > div {
            margin: 0 15px;
        }
    }
}
